* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #f9f5ff;
    color: #4b3f72;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #ffffffcc;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
}

.logo {
    color: #a06cd5;
    font-weight: 600;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    text-decoration: none;
    color: #6d597a;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #c77dff;
}

/* Hero */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #e0c3fc, #c77dff);
    color: white;
    text-align: center;
}

.hero h1 {
    font-size: 40px;
}

.hero span {
    color: #fff;
    font-weight: 600;
}

.hero p {
    margin-top: 15px;
    font-size: 18px;
}

.hero button {
    margin-top: 25px;
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    background: white;
    color: #a06cd5;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.hero button:hover {
    background: #f3e8ff;
    transform: scale(1.05);
}

/* Sections */
.section {
    padding: 80px 10%;
    text-align: center;
}

.section h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #9d4edd;
}

/* Skills */
.skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.skill {
    padding: 10px 20px;
    background: #d0bdf4;
    border-radius: 25px;
    font-weight: 500;
    transition: 0.3s;
}

.skill:hover {
    background: #c77dff;
    color: white;
    transform: translateY(-5px);
}

/* Projects */
.project-card {
    background: white;
    padding: 25px;
    margin: 20px auto;
    width: 60%;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(157, 78, 221, 0.2);
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-8px);
}

.project-card h3 {
    color: #9d4edd;
    margin-bottom: 10px;
}

/* Contact */
#contact p {
    font-size: 18px;
}

/* Footer */
footer {
    background: #9d4edd;
    color: white;
    padding: 15px;
    text-align: center;
}
